<!-- title -->
<div class="flex flex-col gap-y-10 text-defaultGray mx-4">
  <!-- project -->
  <div class="flex flex-col tablet:flex-row items-center gap-x-8">
    <p class="text-5xl text-blueHeading font-bold">Account Management</p>
    <p class="text-lg leading-8">
      At that time, the churn rate continues to increase because there's no retention program applied on account management. So, I was part of amazing project to redesign account management pages to
      boost subscription plan on Kompas.id
    </p>
  </div>
  <!-- project details -->
  <div class="grid grid-flow-row tablet:grid-cols-3 text-gray-600">
    <div class="flex flex-col">
      <p>Project Duration</p>
      <p>06 February 2020 - 29 Mei 2020</p>
    </div>
    <div class="flex flex-col">
      <p>My Role</p>
      <p>Wireframing, UI Design & Prototyping</p>
    </div>
    <div class="flex flex-col">
      <p>Team</p>
      <p>1 PM, 1 UIX Design, 2 Backend, 2 Frontend, 1 QA</p>
    </div>
  </div>
</div>
