<!-- background -->
<div class="flex flex-col gap-y-7 text-defaultGray mx-4">
  <p class="text-gray-600 text-4xl font-bold">Key Pain Point</p>
  <div class="mx-6">
    <p class="text-lg leading-10">
      The account management feature is needed by users to find out the status of their subscriptions and renew their subscriptions. Currently, this feature has not been designed according to user
      needs. The process of brainstorming, research, and design of Manage Accounts resulted in several features that make it easier for users to complete orders, understand the status of their
      subscriptions, and how to renew subscriptions. With the redesign, it is hoped that the use of these features will increase, and users will easily find out their subscription period.
    </p>
  </div>
</div>
