<!-- information architecture -->
<div class="flex flex-col gap-y-7 text-defaultGray mx-4">
  <p class="text-gray-600 text-4xl font-bold">Information Architecture</p>
  <div class="mx-6">
    <p class="text-lg leading-10">
      Before start to design the new flow experience, my team mate ux researcher conducted card sorting to define navigation menu that being collected from our user. See the result below, detail on
      <a href="#" class="font-bold underline text-blue-royal-60">here</a>.
    </p>
  </div>
  <!-- information architecture gallery -->
  <div class="flex flex-col gap-y-5">
    <div class="flex">
      <img src="~/assets/img/manage-account/information-architecture.png" />
    </div>
  </div>
</div>
