<!-- post event impact -->
<div class="flex flex-col gap-y-5 text-defaultGray mx-4">
  <p class="text-gray-600 text-4xl font-bold">Post-Event Impact</p>
  <p class="leading-10 text-lg mx-6">
    The goal of this premium interactive game is the acquisition of new registered users, in this case the competition managed to contribute <b>31.1%</b> of the total new registered users during the
    campaign 1 month period (16-22 August 2021)​​​.
  </p>

  <!-- btn hyperlink -->
  <div class="bg-blueHeading flex flex-col gap-y-6 items-center text-center p-16 mt-31">
    <p class="text-white font-bold text-3xl">
      Let's Reminisce Independence <br />
      Day Once Again
    </p>
    <button @click="redirectLink" class="bg-green-500 w-[fit-content] px-7 py-4 rounded-lg cursor-pointer">
      <p class="text-xl text-white font-bold">Play Interactive Game on Kompas.id</p>
    </button>
  </div>
</div>
