<!-- title -->
<div class="flex flex-col gap-y-10 text-defaultGray mx-4">
  <!-- project -->
  <div class="flex flex-col tablet:flex-row items-center gap-x-8">
    <p class="text-5xl text-blueHeading font-bold">'Independence Day' Interactive Game</p>
    <p class="text-lg leading-8">
      From last 2 years, enjoyment for independence day are forgotten because of the covid-19 global pandemic. The boisterous fun atmosphere of crowds cheering in the competition are no more. This
      idea arose to remember that feeling and give encouragement in the midst of pandemic.
    </p>
  </div>
  <!-- project details -->
  <div class="grid grid-flow-row tablet:grid-cols-3 text-gray-600">
    <div class="flex flex-col">
      <p>Project Duration</p>
      <p>14 July 2021 - 13 August 2021</p>
    </div>
    <div class="flex flex-col">
      <p>My Role</p>
      <p>Solo designer - Discovery, Research, UI/UX Design, Interaction Design</p>
    </div>
    <div class="flex flex-col">
      <p>Team</p>
      <p>1 PM, 4 Design Grafis, 1 UIX Design, 1 Backend, 2 Frontend, 1 QA</p>
    </div>
  </div>
</div>
