<!-- design concept -->
<div class="flex flex-col gap-y-20 text-defaultGray">
  <div class="flex flex-col gap-y-7 mx-4">
    <p class="text-gray-600 text-4xl font-bold">Design Concept</p>
    <div class="mx-6 leading-8">
      <p class="text-lg">I found the challenge to design possible solutions for these key pain points, while keeping in mind the following criteria:</p>
      <ul class="list-decimal leading-8 mx-4">
        <li>Provides a game identical to August 17 celebration in general</li>
        <li>Creating a sense of fun and competition that is the same as the independence race when playing the game</li>
        <li>Make features simple and easy to use for users in concise time limit</li>
      </ul>
    </div>
  </div>

  <!-- solutions -->
  <div class="flex flex-col gap-y-20 mx-6">
    <!-- solution 1 -->
    <div class="flex flex-row gap-x-7">
      <div class="flex flex-col gap-y-5">
        <p class="text-2xl text-blueHeading font-bold">Solution 1</p>
        <p class="text-lg leading-10">
          <b>Determining popular games that often followed by the community.</b> These are the following games: panjat pinang, makan kerupuk, balap larung, paku bottle, and sepak bola sarung. From
          here we try to make every object in the game look exactly like that.
        </p>
      </div>
      <img alt="design-concept-1" src="~/assets/img/interactive-game/design-concept/design-concept-1.png" />
    </div>

    <!-- solution 2 -->
    <div class="flex flex-col gap-y-5">
      <p class="text-2xl text-blueHeading font-bold">Solution 2</p>
      <p class="text-lg leading-10">
        <b>Provide rewards</b> for the top 10 ranked users from the accumulated scores of all games, so that users are interested in playing and grow a sense of competitiveness between other users.
        <b>Moreover, set the independence day song as BGM</b> in game to make the atmosphere more real.
      </p>
    </div>

    <!-- solution 3 -->
    <div class="flex flex-col gap-y-5">
      <p class="text-2xl text-blueHeading font-bold">Solution 3</p>
      <p class="text-lg leading-10">
        <b>Action button in the game are simply adjusted.</b> Like designing a game that can be played with just a single click, making it easier for all types of users when playing.
      </p>
    </div>
  </div>
</div>
