<!-- balancing user needs -->
<div class="flex flex-col gap-y-7 text-defaultGray mx-4">
  <p class="text-gray-600 text-4xl font-bold">Balancing User Needs with Business Goals</p>
  <p class="leading-10 text-lg mx-6">
    On the development, time limitation is a major concern for the development of this interactive game because the duration of creation is only 1 month before the publication date. However, for the
    MVP, I kept in mind both business goals and user needs based on team capacity. And deciding to focus on some key areas, include simplifying user experience, rewards discovery, dan increase
    engagement for old and new user.
  </p>
</div>
