<!-- current flow -->
<div class="flex flex-col gap-y-7 text-defaultGray mx-4">
  <p class="text-gray-600 text-4xl font-bold">Current Flow</p>
  <div class="mx-6">
    <p class="text-lg leading-10">
      I started the design process by learn & understand current flow of account management Kompas.id. User need to go to subscription/membership page in order to see subscription status. The
      structure of information is not well organized. The flow is very long to achieve the user's goal even though the flow can be summarized better. Moreover, copy/the words are still in English.
    </p>
  </div>
  <!-- current flow gallery -->
  <div class="flex flex-col gap-y-20">
    <div class="flex flex-col text-center">
      <img src="~/assets/img/manage-account/current-flow/current-flow-1.png" />
      <p class="text-sm">Flow to Buy Subscription for Registered User</p>
    </div>
    <div class="flex flex-col text-center">
      <img src="~/assets/img/manage-account/current-flow/current-flow-2.png" />
      <p class="text-sm">Flow to Check Subscrition Status</p>
    </div>
    <div class="flex flex-col text-center gap-y-5">
      <p class="text-2xl text-gray-600 font-bold">To Renew the Subscription</p>
      <p class="text-lg">User need to check the subscription status first to see subscription period. And explore gerai and subscription program to renew the subscription.</p>
      <div class="flex flex-col text-center">
        <img src="~/assets/img/manage-account/current-flow/current-flow-3.png" />
        <p class="text-sm">Flow to Check the Subscription Status</p>
      </div>
    </div>
    <div class="flex flex-col text-center">
      <img src="~/assets/img/manage-account/current-flow/current-flow-4.png" />
      <p class="text-sm">Flow to Explore Gerai and Subscription Program</p>
    </div>
  </div>
</div>
