<!-- Execution: Wireflow -->
<div class="flex flex-col gap-y-7 text-defaultGray mx-4">
  <p class="text-gray-600 text-4xl font-bold">Execution: Wireflow</p>
  <!-- wireflow 1 -->
  <p class="leading-10 text-lg mx-6">
    In determining the right flow, several iterations were carried out so that the process was expected to meet user needs, team capacity and business goals. The following is the finalize flow for
    this interactive game.
  </p>
  <img alt="concept-flow" src="~/assets/img/interactive-game/execution/wireflow-1.png" />
  <!-- wireflow 2 -->
  <p>
    In order to manage all user with different age range understand the gameplay well, I decided to put super simple action control button with one single click on each games. And emphasize it with
    relevant illustration or icon on each games, like this.
  </p>
  <img alt="concept-flow" src="~/assets/img/interactive-game/execution/wireflow-2.png" />
</div>
