<div>
  <!-- new interface: desktop -->
  <div class="flex flex-col gap-y-7 text-defaultGray mx-4">
    <p class="text-gray-600 text-4xl font-bold">New Account Management Interface - Desktop</p>
    <!-- new interface gallery -->
    <div class="flex flex-col gap-y-20">
      <div class="flex flex-col text-center">
        <img src="~/assets/img/manage-account/new-interface/new-interface-1.png" />
        <p class="text-2xl font-bold mt-5">My account (Akun Saya) Page to Show Subscription Summary</p>
      </div>
      <div class="flex flex-col text-center">
        <img src="~/assets/img/manage-account/new-interface/new-interface-2.png" />
        <p class="text-2xl font-bold mt-5">Place Subscription Button on User Menu for Easy Renewal or Subscription</p>
      </div>
      <div class="flex flex-col text-center">
        <img src="~/assets/img/manage-account/new-interface/new-interface-3.png" />
        <p class="text-2xl font-bold mt-5">Subscription Information (Informasi Berlangganan) Page to Show Subscription History</p>
      </div>
      <div class="flex flex-col text-center">
        <img src="~/assets/img/manage-account/new-interface/new-interface-4.png" />
        <p class="text-2xl font-bold mt-5">Popup to Show Subscription Benefit & also Access to Stop User Subscription</p>
      </div>
    </div>
  </div>
  <!-- new interface: mobile -->
  <div class="flex flex-col gap-y-7 text-defaultGray mx-4 my-32">
    <p class="text-gray-600 text-4xl font-bold">New Account Management Interface - Mobile</p>
    <!-- new interface gallery -->
    <div class="flex flex-row gap-x-5">
      <img src="~/assets/img/manage-account/new-interface/interface-mobile-1.png" />
      <img src="~/assets/img/manage-account/new-interface/interface-mobile-2.png" />
      <img src="~/assets/img/manage-account/new-interface/interface-mobile-3.png" />
      <img src="~/assets/img/manage-account/new-interface/interface-mobile-4.png" />
    </div>
  </div>
</div>
