<!-- keypain points -->
<div class="flex flex-col gap-y-7 text-defaultGray mx-4">
  <p class="text-gray-600 text-4xl font-bold">Key Pain Points & Challenge</p>
  <div class="mx-6 leading-8">
    <p class="text-lg">
      After doing competitor analysis, I come up with common pain points among users who participated on independence day celebration that I got from existing persona that been collected. <br />
      <b>The following are user pain points to consider:</b>
    </p>
    <ul class="list-decimal leading-8 mt-4">
      <li>Generally, users only participate in the competition without knowing the origin of the 17 august competition</li>
      <li>The limitations of the pandemic make the celebration of independence day is impossible to do it offline</li>
      <li>The majority of Kompas user persona are non-tech savvy user and middle age with an age range of 30-45 years old</li>
    </ul>
  </div>
</div>
